<h2> Tarea: <%= @tarea.name %></h2>

<table class="table">
  <tr>
    <th>Tarea completada por: </th>
  </tr>
  <% @ut.each do |usr| %>
  <tr>
    <td><%= User.find_by(id: usr.user_id).name %></td>
  </tr>
  <% end %>
</table>
