
<%= @idedelatarea %>
<%= @usertask%>

<% @usertask.each do |ut| %>
  ut.user_id
<% end %>

<table class="table">
  <% @usuariostarea.each do |usr| %>
  <tr>
    <td><%= usr.name %></td>
  </tr>
  <% end %>
</table>
